# Template per tutti i progetti

# ==================================================
# Dipendenze
# ==================================================
node-modules/
/.pnp
.pnp.js

# ==================================================
# Log
# ==================================================
logs
*.logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ==================================================
# Build e Output
# ==================================================
dist/
dist-ssr/
build/
out/
.next/
.tsbuildinfo
*.local
*.cache

# ==================================================
# File di configurazione e Test
# ==================================================
coverage/
.nyc_output/
.eslintignore
.eslintrc.cjs
.netlify

# ==================================================
# Variabili d'Ambiente (Sicurezza)
# ==================================================
.env
.env-local
.env.development.local
.env.test.local
.env.production.local

# ==================================================
# File di Sistema e IDE
# ==================================================
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.cursor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==================================================
# Agenti e AI
# ==================================================
.agents
.cursorrules

# ==================================================
# Frontend Mentor
# ==================================================
*.sketch
*.fig
*.xd
