# Ignora le cartelle
node_modules
dist
build
.netlify
.github
src/assets
release

# Ignora i file
routeTree.gen.ts
eslint.config.js
.prettierrc
release-please-config.json
.release-please-manifest.json
pnpm-lock.yaml
CHANGELOG.md
